body {
    background-color: #f8f9fa;
}
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6c5ce7;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    margin-top: 100px;
}
.register-container h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.register-button {
    background-color: #563b8e;
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.register-button:hover {
    background-color: #452a67;
}
.login-link {
    margin-top: 15px;
    color: white;
    font-size: 14px;
}

.login-link a {
    color: yellow;
    text-decoration: underline;
}